body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(rgba(251, 246, 198, 1),rgba(51, 108, 60, 0.37)),url(images/dance-floor.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    width:80%;
    margin: 0 auto;
    
}

.details{
  text-align: center;
    margin: 40px 40px;
}

.details h2{
  color:#0D880F;
  font-size:50px;
  margin: 50px 60px;
}

.main-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box{
  width: 300px;
  height: 400px;
  margin: 10px;
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  position: relative;
  z-index: 2;
  border-radius: 5px;

}
.box > * {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.box::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.box:hover::before{
  width: 95%;
  height: 95%;
  transition: all ease .50s;
}

.box .icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  position: relative;
}

.box .icon .fas{
  color: #404044;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr{
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  width: 70%;
  border: 1px solid rgba(255,255,255, 0.1);

}

.box a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  background-color: #ECC62C ;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 25px;
  display: inline-block;
  font-weight: 600 ;
}
.box a:hover{
  background-color:#B4A63E ;
}

.box .white-border{
  border: 1px solid #ffffff;
}


.box-tours{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(images/tours.jpg);
    background-size: cover;
    background-position: center;
}
.box-accom{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(images/beach-house.jpg);
    background-size: cover;
    background-position: center;
}

.box-food{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url(images/jerk-chicken.jpg);
    background-size: contain;
}
